{"version": 2, "width": 80, "height": 24, "timestamp": 1707940578, "env": {"SHELL": "/bin/zsh", "TERM": "xterm-256color"}}
[0.018973, "o", "Restored session: среда, 14 февраля 2024 г. 22:56:15 (MSK)\r\n"]
[0.022934, "o", "\u001b[1m\u001b[7m%\u001b[27m\u001b[1m\u001b[0m                                                                               \r \r"]
[0.023305, "o", "\u001b]7;file://Wvrpy-Studo.local/Users/wvrpystudio/python-project-49\u0007"]
[0.023428, "o", "\r\u001b[0m\u001b[27m\u001b[24m\u001b[Jwvrpystudio@Wvrpy-Studo python-project-49 % \u001b[K\u001b[?2004h"]
[0.921241, "o", "b"]
[1.130254, "o", "\bbr"]
[1.40626, "o", "a"]
[1.501993, "o", "i"]
[1.63736, "o", "n"]
[1.917842, "o", "-"]
[2.341748, "o", "p"]
[2.61336, "o", "r"]
[2.769374, "o", "i"]
[3.122737, "o", "m"]
[3.260596, "o", "e"]
[3.565366, "o", "\u001b[?2004l\r\r\n"]
[3.607368, "o", "Welcome to the Brain Games!\r\nMay I have your name? "]
[4.653181, "o", "a"]
[4.779832, "o", "n"]
[4.911465, "o", "n"]
[5.175483, "o", "\r\n"]
[5.175778, "o", "Hello, ann!\r\nAnswer \"yes\" if given number is prime. Otherwise answer \"no\".\r\nQuestion: 59\r\n"]
[5.175819, "o", "Your answer:  "]
[9.593376, "o", "y"]
[9.684922, "o", "e"]
[9.949476, "o", "s"]
[10.186931, "o", "\r\n"]
[10.187056, "o", "Correct!\r\n"]
[10.18713, "o", "Question: 84\r\n"]
[10.187439, "o", "Your answer:  "]
[12.185247, "o", "n"]
[12.371506, "o", "o"]
[12.62113, "o", "\r\n"]
[12.621232, "o", "Correct!\r\nQuestion: 58\r\n"]
[12.621555, "o", "Your answer:  "]
[14.94033, "o", "n"]
[15.176363, "o", "o"]
[15.805952, "o", "\r\n"]
[15.80624, "o", "Correct!\r\nCongratulations, ann!\r\n"]
[15.816268, "o", "\u001b[1m\u001b[7m%\u001b[27m\u001b[1m\u001b[0m                                                                               \r \r"]
[15.817022, "o", "\u001b]7;file://Wvrpy-Studo.local/Users/wvrpystudio/python-project-49\u0007"]
[15.817117, "o", "\r\u001b[0m\u001b[27m\u001b[24m\u001b[Jwvrpystudio@Wvrpy-Studo python-project-49 % \u001b[K"]
[15.817135, "o", "\u001b[?2004h"]
[17.404268, "o", "brain-prime"]
[18.063129, "o", "\u001b[?2004l\r\r\n"]
[18.106697, "o", "Welcome to the Brain Games!\r\nMay I have your name? "]
[18.961956, "o", "a"]
[19.57298, "o", "n"]
[19.703812, "o", "n"]
[20.037971, "o", "\r\n"]
[20.038373, "o", "Hello, ann!\r\nAnswer \"yes\" if given number is prime. Otherwise answer \"no\".\r\nQuestion: 2\r\nYour answer:  "]
[22.675216, "o", "n"]
[22.868816, "o", "o"]
[23.494782, "o", "\r\n"]
[23.495064, "o", "'no' is wrong answer ;(. Correct answer was 'yes'\r\nLet's try again, ann!\r\n"]
[23.5037, "o", "\u001b[1m\u001b[7m%\u001b[27m\u001b[1m\u001b[0m                                                                               \r \r"]
[23.504462, "o", "\u001b]7;file://Wvrpy-Studo.local/Users/wvrpystudio/python-project-49\u0007"]
[23.50456, "o", "\r\u001b[0m\u001b[27m\u001b[24m\u001b[Jwvrpystudio@Wvrpy-Studo python-project-49 % \u001b[K"]
[23.504627, "o", "\u001b[?2004h"]
[24.906309, "o", "e"]
[25.144487, "o", "\bex"]
[25.297237, "o", "i"]
[25.531195, "o", "t"]
[25.664099, "o", "\u001b[?2004l\r\r\n"]
[25.667378, "o", "\r\nSaving session..."]
[25.681183, "o", "\r\n...saving history..."]
[25.691302, "o", "truncating history files..."]
[25.697188, "o", "\r\n..."]
[25.697208, "o", "completed.\r\n"]
